@import "~normalize.css";

@import "@material/typography/mdc-typography";
@import "@material/toolbar/mdc-toolbar";
@import "@material/card/mdc-card";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/elevation/mdc-elevation";
@import "@material/snackbar/mdc-snackbar";
@import "@material/menu/mdc-menu";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

*:focus {
    outline: none;
}

.mdc-toolbar__title {
    color: black;
}

.khantribute-toolbar {
    background-color: white;
    color: black;
}

.khantribute-profile-menu-anchor {
    position: absolute;
    top: 0;
    height: 100%;
    width: 8em;
    right: 0;
    transition: opacity 15ms linear;

    .name {
        width: 100%;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding-left: 1em;
    }

    .score {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        width: 100%;
        padding-left: 1em;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    &:active {
        background: rgba(0, 0, 0, 0.16);
    }
}

.khantribute-lang-menu-anchor {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    transition: opacity 15ms linear;
    line-height: 64px;
    padding: 0 1em;

    .khantribute-lang-icon {
        line-height: 64px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    &:active {
        background: rgba(0, 0, 0, 0.16);
    }
}

main {
    padding: 1em;
}

.leaderboard {
    width: 100%;
}

.leaderboard-entry {
    line-height: 1.5em;
    
    &:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.54);
    }
}

.leaderboard-name {
    width: 50%;
    display: inline-block;
    text-align: right;
    padding: 0 1em;
}

h1 {
    text-align: center;
}