@import "~normalize.css";

@import "@material/typography/mdc-typography";
@import "@material/toolbar/mdc-toolbar";
@import "@material/card/mdc-card";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/elevation/mdc-elevation";
@import "@material/snackbar/mdc-snackbar";
@import "@material/menu/mdc-menu";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

main {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
}

.card-article-group-heading {
    color: rgba(0, 0, 0, 0.54);
    padding: 8px 16px;
}

.card-article__title {
    margin: 0;
    background: #ccc;
    text-align: center;
}

.card-article__snippet {
    padding: 2em;
}

#container {
    .mdc-card__actions {
        justify-content: space-evenly;

        button {
            flex-grow: 1;
        }
    }
}

#help-dialog {
    .mdc-dialog__body {
        max-height: 75vh;
        min-height: 15vh;
        overflow-y: auto;
    }
}

.khantribute-status {
    .khantribute-status-controls {
        position: absolute;
        bottom: 4em;
        left: 50%;
        width: 11em;
        transform: translateX(-50%);
        padding: 1em 0;
        z-index: 1000;
        
        #rejectBtn {
            background: #F44336;
        }
        
        #rejectBtn.active {
            left: -1.5em;
        }
        
        #skipBtn {
            background: #2196F3;
            left: 4em;
        }
        
        #skipBtn.active {
            left: 2.5em;
        }
        
        #approveBtn {
            background: #4CAF50;
            left: 8em;
        }
        
        #approveBtn.active {
            left: 6.5em;
        }
    }
    
    .khantribute-approve-bar {
        position: absolute;
        top: 64px;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, rgba(76,175,79,0) 0%, rgba(76,175,79,1) 50%);
    }
    
    .khantribute-deny-bar {
        position: absolute;
        top: 64px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to left, rgba(244,66,54,0) 0%, rgba(244,66,54,1) 50%);
    }
}

.khantribute-control-button {
    border: none;
    position: absolute;
    padding: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: white;
    @include mdc-elevation(6);
    transition: mdc-elevation-transition-value();
    will-change: $mdc-elevation-property, left, width, height;
    transition: left 0.25s, width 0.25s, height 0.25s box-shadow 0.15s;
    z-index: 1000;
}

.khantribute-control-button.active {
    width: 6em;
    height: 6em;
    top: -0.75em;
    z-index: 1001
}

#feedback-button {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    display: block;
}

*:focus {
    outline: none;
}

.khantribute-feedback {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 48px;
    height: 48px;
}

.khantribute-control-button:hover {
    @include mdc-elevation(12);
}

.khantribute-toolbar {
    background-color: white;
    color: black;
}

#help-dialog {
    z-index: 1001;
}

.mdc-snackbar {
    z-index: 5000
}

.khantribute-menu-anchor {
    position: absolute;
    top: 0;
    height: 100%;
    width: 12em;
    right: 0;
    transition: opacity 15ms linear;

    .name {
        width: 100%;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding-left: 1em;
    }

    .score {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        width: 30%;
        padding-left: 1em;
    }

    .language {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding-left: 1em;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    &:active {
        background: rgba(0, 0, 0, 0.16);
    }
}
