<ul id="lang-dropdown-content" class="dropdown-content">
    <li
        *ngFor="let language of translationService.languages; let i = index"
    >
        <a
            href="javascript:void(0);"
            class="black-text"
            [style.fontWeight]="translationService.getLangIndex() === i ? 'bold' : ''"
            (click)="setLang(i)"
        >
                {{language.name}}
        </a>
    </li>
</ul>
<a
    class="dropdown-trigger black-text"
    href="javascript:void(0);"
    id="lang-dropdown"
    data-target="lang-dropdown-content"
>
    <i class="material-icons left">language</i>
    <span class="hide-on-small-only">{{translationService.getLang().name}}</span>
</a>