.card {
    padding-bottom: 1.5em
}

.translation-card {
    text-align: left;
    padding: 0 2.25em;
    position: relative;
    line-height: 9em;
    background-image: repeating-linear-gradient(180deg, #ffffff 0, #ffffff 4.5em, #e0e0e0 4.5em, #e0e0e0 9em);
    background-repeat: repeat-y;
    background-position-y: 2.25em;
    padding-bottom: 2.25em;
}

.translation-card > span:last-child {
    position: absolute;
    top: 4.5em;
    left: 0;
    right: 0;
    padding: 0 2.25em;
}