.card {
    padding-bottom: 1.5em;
    user-select: none;
}

.translation-card-container {
    position: relative;
    top: 0;
    /* z-index: -1; */
}

.translation-card-container.approved {
    transition: left 0.5s;
    left: 100vw !important;
}

.translation-card-container.rejected {
    transition: left 0.5s;
    left: -100vw !important;
}

.translation-card-container.skipped {
    transition: top 0.5s;
    top: 100vh !important;
}

.translation-card-container.reset {
    transition: left 0.5s, top 0.5s;
}

.translation-card {
    text-align: left;
    padding: 0 2.25em;
    position: relative;
    line-height: 9em;
    background-image: repeating-linear-gradient(180deg, #ffffff 0, #ffffff 4.5em, #e0e0e0 4.5em, #e0e0e0 9em);
    background-repeat: repeat-y;
    background-position-y: 2.25em;
    padding-bottom: 11.25em;
}

.translation-card > span:last-child {
    position: absolute;
    top: 4.5em;
    left: 0;
    right: 0;
    padding: 0 2.25em;
}

.last-translation-card {
    position: absolute;
}

.overlap-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.next-translation-card-container {
    position: relative;
    top: -8px;
    left: -8px;
    transition: left 0.5s, top 0.5s;
}

.next-translation-card-container.on-top {
    top: 0;
    left: 0;
}

.feedback-gradient {
    position: absolute;
    top: -16px;
    bottom: 0;
    z-index: -1;
}

.feedback-gradient-approve {
    right: 0;
    background-image: linear-gradient(to right, rgba(76,175,79,0) 0%, rgba(76,175,79,1) 50%);
}

.feedback-gradient-reject {
    left: 0;
    background-image: linear-gradient(to left, rgba(244,66,54,0) 0%, rgba(244,66,54,1) 50%);
}