<div class="container translation-card-container"
    (panend)="onPanEnd($event)"
    (pancancel)="onPanEnd($event)"
    (panleft)="onPan($event)"
    (panright)="onPan($event)"
    (panup)="onPan($event)"
    (pandown)="onPan($event)"
    [style.left.px]="getScrollX()">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="translation-card" *ngIf="translationService.stringsLeft() > 0; else congrats">
                    <b>Translation</b>&nbsp;<span [innerHTML]="getTranslationHTML()"></span>
                    <span><b>Original</b>&nbsp;<span [innerHTML]="getOriginalHTML()"></span></span>
                </div>
                <ng-template #congrats>
                    <div class="card-content">
                        <p>Congratulations! There are no strings left to translate right now. We'll probably have some later, but you can relax for now.</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>