<lang-dropdown></lang-dropdown>
<nav>
    <div class="nav-wrapper white">
        <ul class="left">
            <li><a class="dropdown-trigger black-text" href="javascript:void(0);" data-target="lang-dropdown"><i class="material-icons">language</i></a></li>
        </ul>
        <span class="brand-logo center black-text">Khantribute</span>
        <ul class="right">
            <li><a class="black-text" href="javascript:void(0);"><span class="hide-on-small-only">SomeUsername</span> <i class="material-icons right">account_circle</i></a></li>
        </ul>
    </div>
</nav>
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>

