<div class="modal modal-fixed-footer" id="onboarding-modal">
    <div class="modal-content">
        <h4>How to Use Khantribute</h4>
        <p>Think of it as "Tinder for proofreading"</p>
        <ul class="browser-default">
            <li>Swipe right if translation is good. Swipe left if bad</li>
            <li>Skip to next without voting by pressing the skip button</li>
        </ul>
        <p>You can also press the thumbs up/down buttons to vote.</p>

        <p>This is a test version so please click the feedback button in the dropdown at the top left and help us make the app better</p>

        <h4>How it works:</h4>
        <p>
            Every up or down-vote you and other users make on a sentence (string) is added up.<br> Every string gets score based on total votes. Strings with high scores will likely be ready to proofread, and negative scores, probably need editing.<br> This will
            make proofreading a lot faster. And ultimately get Khan Academy to more people around the world, faster.<br> Thank you for helping us all deliver <br>
            <em>“A FREE worldclass education, to anyone anywhere”</em>
        </p>
    </div>
    <div class="modal-footer">
            <label>
                <!-- For some reason the event has to return true for this to work -->
                <input type="checkbox" class="filled-in" (click)="hideModal=$event.target.checked;true"/>
                <span>Don't show this again</span>
            </label>
            <a href="javascript: void(0);" class="modal-close waves-effect btn-flat">Got it!</a>
    </div>
</div>