<div class="row fixed-action-btn khantribute-controls">
    <div class="col">
        <a
            class="btn-floating btn-large red"
            title="Reject"
            (click)="reject()"
        >
            <i class="large material-icons">thumb_down</i>
        </a>
    </div>
    <div class="col">
        <a
            class="btn-floating btn-large amber"
            title="Send for review"
            (click)="softReject()"
        >
            <i class="large material-icons">thumbs_up_down</i>
        </a>
    </div>
    <div class="col">
        <a
            class="btn-floating btn-large blue"
            title="Skip"
            (click)="skip()"
        >
            <i class="large material-icons">skip_next</i>
        </a>
    </div>
    <div class="col">
        <a
            class="btn-floating btn-large green"
            title="Approve"
            (click)="approve()"
        >
            <i class="large material-icons">thumb_up</i>
        </a>
    </div>
</div>