<div class="row fixed-action-btn khantribute-controls">
    <div class="col">
        <a
            class="btn-floating btn-large red"
            (click)="reject()"
        >
            <i class="large material-icons">star_border</i>
        </a>
    </div>
    <div class="col">
        <a
            class="btn-floating btn-large amber"
            (click)="softReject()"
        >
            <i class="large material-icons">star_half</i>
        </a>
    </div>
    <div class="col">
        <a
            class="btn-floating btn-large green"
            (click)="approve()"
        >
            <i class="large material-icons">star</i>
        </a>
    </div>
    <div class="col">
        <a
            class="btn-floating btn-large blue"
            (click)="skip()"
        >
            <i class="large material-icons">skip_next</i>
        </a>
    </div>
</div>